*{
    margin: 0;
    padding: 0;
}

body {
    height: 2000px; /* Наприклад, 2000px */
}

.main {
    width: 100%;
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%));*/
    /*background: white center;*/
    /*background-size: cover;*/
    height: 109vh;
}

.top_parallax {
    /* Посилання на ваше зображення */
    background-image: url("img/q.jpg");

    /* Встановлення мінімальних розмірів */
    min-height: 60%;

    /* Створення ефекту паралаксу */
    background-attachment: fixed;
    background-position: 80% center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: background-position 0.5s ease; /* Плавний перехід */
}

.content {
    padding-top: 30px;
}

.content h1 {
    text-align: center;
    margin: 30px 0;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.about {
    display: flex; /* Встановлюємо flexbox */
    justify-content: space-between; /* Рівномірно розподіляє елементи по ширині контейнера */
}

.about_text, .about_photo {
    display: inline-block; /* Замінюємо float */
    vertical-align: top; /* Вирівнюємо елементи по верхньому краю */
    width: 50%;
    box-sizing: border-box; /* Включаємо розрахунок padding у визначення ширини */
}
.about_text {
    width: 45%; /* Змінюємо ширину текстового блоку */
}

.about_photo {
    width: 45%;
    max-width: 100%; /* Зберігаємо максимальну ширину зображення */
    text-align: center; /* Центруємо зображення */
}

.about_photo img {
    max-width: 100%; /* Зберігаємо максимальну ширину зображення */
    height: auto; /* Зберігаємо пропорції зображення */
    display: block; /* Зображення стає блочним елементом */
    margin-left: auto; /* Автоматичний лівий відступ */
    margin-right: auto; /* Автоматичний правий відступ */
    border-radius: 10px;

}


.black_line {
    height: 6px;
    width: 75%;
    background-position: center;
    margin: 20px; /* Встановлюємо відступи зверху і знизу */
    background-color: #101926;
}





.content h1{
    font-family: "Franklin Gothic Medium", serif;
    padding-left: 2px;
    font-size: 6vw;
    color: #101926;
}

.content p{
    font-family: "Franklin Gothic Medium", serif;
    padding-left: 20px;
    font-size: 2vw;
    color: #475467;

}

.about_2{
    /*background-color: #DEE0CC;*/
    background-color: #d6d9c5;
    height: fit-content;
    margin-top: 50px;
}

.text {
    padding-top: 50px;
    padding-bottom: 50px;

    width: 95%;

}

.text p{
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust min and max width as needed */
    grid-gap: 20px; /* Adjust gap between items */
    margin: 30px;
}

.gallery h1 {
    text-align: center;
    margin: 30px 0;
}

.image-container {
    display: flex;
    flex-direction: column;
    position: relative; /* Add this */
    padding: 10px; /* Add this */
}

/*.image-container::after {*/
/*    content: "";*/
/*    display: block;*/
/*    background-color: red;*/
/*    border-radius: 10px; !* Adjust as needed *!*/
/*    width: calc(100% - 20px); !* Adjust as needed *!*/
/*    height: calc(100% - 20px); !* Adjust as needed *!*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    top: 10px; !* Adjust as needed *!*/
/*    left: 10px; !* Adjust as needed *!*/
/*}*/




.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.rectangle {
    width: 100px;
    height: 200px;
    background-color: red;
    border-radius: 10px;
    margin-top: 10px; /* Adjust spacing between image and rectangle */
}









@media (max-width: 600px) {
    .top_parallax {
        /* background-size: 350% auto; */
        background-size: cover;
        min-height: 45%;
        background-attachment: scroll;
        background-image: url("img/tennis_ball_v2.png");
    }

    .content h1 {
        font-size: 30px; /* New font size for mobile devices */
        text-align: center; /* Center the text */
    }

    .content p {
        font-size: 16px; /* New font size for mobile devices */
        text-align: center; /* Center the text */
    }

    .about {
        display: flex;
        align-items: center; /* Align center horizontally */
        justify-content: center; /* Align center vertically */
        flex-direction: column; /* Change the order of elements to column on mobile devices */
    }

    .about_text, .about_photo {
        width: 95%;
        text-align: center; /* Center the text */
    }

    .about_photo {
        margin-top: 2vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}








/*.navbar{*/
/*    background-color: #222529; !* Темний колір з прозорістю *!*/
/*    padding: 10px 20px; !* Параметри відступу *!*/
/*    position: fixed; !* Фіксована позиція *!*/
/*    top: 0; !* Розташування зверху *!*/
/*    left: 0; !* Розташування зліва *!*/
/*    width: 100%; !* Ширина весь екран *!*/
/*    z-index: 1000; !* Індекс зверху *!*/
/*    opacity: 0.9; !* Прозорість *!*/
/*}*/

/*.icon{*/
/*    width: 200px;*/
/*    float: left;*/
/*    height: 70px;*/
/*}*/

/*.logo{*/
/*    color: white;*/
/*    font-size: 40px;*/
/*    font-family: Arial, serif;*/
/*    padding-left: 20px;*/
/*    float: left;*/
/*    padding-top: 10px;*/
/*}*/

/*.menu{*/
/*    width: 400px;*/
/*    float: left;*/
/*    height: 70px;*/
/*}*/

/*ul{*/
/*    float: left;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*ul li{*/
/*    list-style: none;*/
/*    margin-left: 62px;*/
/*    margin-top: 20px;*/
/*    font-size: 20px;*/
/*}*/

/*ul li a{*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    font-family: Arial, serif;*/
/*    font-weight: bold;*/
/*    transition: 0.4s ease-in-out;*/
/*}*/

/*ul li a:hover{*/
/*    color: aqua;*/
/*}*/

/*.search{*/
/*    width: 330px;*/
/*    float: left;*/
/*    margin-left: 270px;*/
/*}*/

/*.srch{*/
/*    font-family: 'Times New Roman';*/
/*    width: 200px;*/
/*    height: 40px;*/
/*    background: transparent;*/
/*    border: 2px solid white;*/
/*}*/
